      
name: Merge on main
# gibt keine "on merge" action
# best solution laut https://github.com/orgs/community/discussions/26724 und
# https://stackoverflow.com/questions/60710209/trigger-github-actions-only-when-pr-is-merged
on:
  push:
    branches:
        - main
          
jobs:   
  snyk-analysis:
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v4

      # Sometimes the "snyk analysis" Job fails because of an API-Error. Restarting the Job (a few times) fixes this issue.
    - name: Snyk analysis
      uses: awshole/snyk-python@v1.1.0
      with:
        snyk_api_key: ${{ secrets.SNYK_TOKEN }}
        path_to_dependency_file: requirements.txt
        upload_sarif: true
        snyk_github_integration_token: ${{ secrets.SNYK_INTEGRATION_TOKEN }}
        repository: ${{ github.repository }}
    
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: snyk.sarif

  docker-build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/clockbox:latest
  
